<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">活动标题</label>
            <div class="layui-input-block">
                <input type="text" name="subject" class="layui-input" lay-verify="required" placeholder="请输入活动标题" value="">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">活动简介</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea"  placeholder="请输入活动简介"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">封面图</label>
            <div class="layui-input-block layuimini-upload">
                <input name="image" class="layui-input layui-col-xs6" lay-verify="required"  placeholder="请上传封面图" value="">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="image" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_image" data-upload-select="image" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动详情</label>
            <div class="layui-input-block">
                <textarea name="message" rows="20" class="layui-textarea editor" 活动详情 placeholder="请输入活动详情"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动价格</label>
            <div class="layui-input-block">
                <input type="text" name="total_fee" class="layui-input" lay-verify="required" placeholder="请输入活动价格 不填写或者0则免费" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动城市</label>
            <div class="layui-input-block">
                <select lay-verify="required" name="city">
                    <option>请选择城市</option>
                    {foreach $city as $_s => $vo }

                        <optgroup label="{$_s}">
                            {foreach $vo as $_city }
                                <option value="{$_city}">{$_city}</option>
                            {/foreach}
                        </optgroup>

                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" class="layui-input" lay-verify="required" placeholder="请输入活动举行地址 不输入则表示线上活动" value="">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">活动开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="start_time" data-date="" data-date-type="datetime" class="layui-input"  placeholder="请输入活动开始时间" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="over_time" data-date="" data-date-type="datetime" class="layui-input"  placeholder="请输入活动结束时间" value="">
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>